@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    outline: none;

  }

/* globals.css */

:root {
  --color-primary: #3B82F6;
  --color-secondary: #10B981;
  --color-accent: #F59E0B;
  --color-danger: #EF4444;
  --color-background: #F9FAFB;
  --color-surface: #f9fafa;
  --color-muted: #E5E7EB;
  --color-text-primary: #111827;
  --color-text-secondary: #4B5563;
  --color-grid-lines: rgba(209, 213, 219, 0.5);
  --color-border: #D1D5DB;
  --color-mean-line: rgba(16, 185, 129, 0.8);
  --color-sd1: rgba(245, 158, 11, 0.8);
  --color-sd2: rgba(239, 68, 68, 0.8);
  --color-sd3: rgba(124, 58, 237, 0.8);
  --color-navbar: #F3F4F6;
  --color-white: #FFFFFF;
  --color-green: #10B981;
  --color-shadow: rgba(0, 0, 0, 0.08);
  --color-overlay: rgba(0, 0, 0, 0.04);
  --border-color: #4B556340;
}

/* Tema Escuro Aprimorado */
.dark {
  --color-primary: #71a3ff; /* Azul mais vibrante */
  --color-secondary: #2F8A7F; /* Verde mais forte */
  --color-accent: #FF9F0D; /* Laranja mais quente */
  --color-danger: #FF4F4F; /* Vermelho mais intenso */
  --color-background: #121D2C; /* Fundo mais escuro */
  --color-surface: #1D2939; /* Superfície mais escura */
  --color-muted: #5A6A76; /* Cinza mais forte */
  --color-text-primary: #F0F1F4; /* Texto claro e suave */
  --color-text-secondary: #D1D5DB; /* Texto secundário mais suave */
  --color-grid-lines: rgba(255, 255, 255, 0.15); /* Linhas de grade mais sutis */
  --color-border: #3B4B5C; /* Borda mais escura */
  --color-mean-line: rgba(16, 185, 129, 0.95); /* Linha média com mais contraste */
  --color-sd1: rgba(255, 176, 39, 0.5); /* Mais brilho no laranja */
  --color-sd2: rgb(255, 221, 0, 0.5); /* Vermelho mais vibrante */
  --color-sd3: rgba(246, 92, 92, 0.5); /* Roxo mais intenso */
  --color-navbar: #1A2532; /* Barra de navegação mais escura */
  --color-white: #E5E7EB; /* Branco suave */
  --color-green: #059669; /* Verde mais vibrante */
  --color-shadow: rgba(155, 155, 155, 0.08); /* Sombra mais forte */
  --color-overlay: rgba(255, 255, 255, 0.1); /* Sobreposição mais sutil */
  --border-color: #F9FAFB; /* Cor de borda mais clara */
}



html {
    height: 100%;
}

select {
    cursor: pointer;
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin {
    animation: spin 1s linear infinite;
  }