@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  transition: background-color 0.1s ease-in-out;
}

html {
  background-color: var(--color-background);
}

select {
  cursor: pointer;
}

:root {
  --color-mean-line: rgba(46, 125, 50, 1.0);    
  --color-sd1: rgba(30, 136, 229, 0.8);         
  --color-sd2: rgba(236, 64, 122, 0.8);        
  --color-sd3: rgba(216, 27, 96, 0.8);         
  --color-primary: rgba(25, 88, 143, 1);
  --color-secondary: rgba(14, 165, 233, 1.0);
  --color-accent: rgba(245, 158, 11, 1.0);
  --color-danger: rgba(220, 38, 38, 1.0);
  --color-background: rgba(248, 250, 252, 1.0);
  --color-surface: rgba(255, 255, 255, 1.0);
  --color-muted: rgba(226, 232, 240, 1.0);
  --color-text-primary: rgba(15, 23, 42, 1.0);
  --color-text-secondary: rgba(71, 85, 105, 1.0);
  --color-grid-lines: rgba(203, 213, 225, 0.5);
  --color-border: rgba(203, 213, 225, 1.0);
  --color-navbar: rgba(255, 255, 255, 1.0);
  --color-white: rgba(255, 255, 255, 1.0);
  --color-bg-text: rgba(30, 41, 59, 1.0);
  --color-green: rgba(16, 185, 129, 1.0);
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-overlay: rgba(0, 0, 0, 0.05);
  --border-color: rgba(71, 85, 105, 0.3);
  --color-sun: rgba(251, 191, 36, 1.0);
  --color-moon: rgba(148, 163, 184, 1.0);
}

.dark {

  --color-mean-line: rgba(165, 214, 167, 1.0); 
  --color-sd1: rgba(100, 181, 246, 0.8);       
  --color-sd2: rgba(244, 143, 177, 0.8);        
  --color-sd3: rgba(229, 115, 115, 0.8);    
  --color-primary: rgba(129, 140, 248, 1.0);
  --color-secondary: rgba(56, 189, 248, 1.0);
  --color-accent: rgba(251, 191, 36, 1.0);
  --color-danger: rgba(239, 68, 68, 1.0);
  --color-background: rgba(15, 23, 42, 1.0);
  --color-surface: rgba(30, 41, 59, 1.0);
  --color-muted: rgba(51, 65, 85, 1.0);
  --color-text-primary: rgba(248, 250, 252, 1.0);
  --color-text-secondary: rgba(248, 250, 252, 1.0);
  --color-bg-text: rgba(248, 250, 252, 1.0);
  --color-grid-lines: rgba(248, 250, 252, 0.1);
  --color-navbar: rgba(30, 41, 59, 1.0);
  --color-white: rgba(248, 250, 252, 1.0);
  --color-green: rgba(52, 211, 153, 1.0);
  --color-shadow: rgba(0255, 255, 255, 0.2);
  --color-overlay: rgba(255, 255, 255, 0.2);
  --border-color: rgba(248, 250, 252, 0.5);
  --color-sun: rgba(251, 191, 36, 1.0);
  --color-moon: rgba(226, 232, 240, 1.0);
}
/* 
.transition-theme {
    transition: var(--transition-default);
}

.transition-theme-slow {
    transition: var(--transition-slow);
}

.transition-theme-fast {
    transition: var(--transition-fast);
} */

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
